# Virtual Environment
venv/
env/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Operating system-related files
.DS_Store  # macOS
Thumbs.db  # Windows

# Other common files to ignore
*.log
*.sqlite3