<!DOCTYPE html>
<html>
  <head>
    <title>randle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="game">
      <div class="header-container">
        <h1>Welcome to Randle!</h1>
        <button onclick="showAlert()" id="rules">?</button>
      </div>

      <h2>Guess the four letter word</h2>
      <p id="word"></p>
      <p id="guesses"></p>
      <p id="message"></p>
      <div class="center" style="display: flex; flex-direction: column">
        <input type="text" id="guessInput" placeholder="Guess here" />
        <button id="guessButton" onclick="guess()">Guess!</button>
      </div>

      <form action="/" method="get" id="form">
        <input type="submit" id="randleButton" value="Play Hardle instead!" />
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/randle.js') }}"
    ></script>
  </body>
</html>
