<!DOCTYPE html>
<html>
  <head>
    <title>randle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="game">
      <div class="header-container">
        <h1>Welcome to Randle!</h1>
        <button onclick="showAlert()" id="rules">?</button>
      </div>

      <h2>Guess the four letter word</h2>
      <p id="word"></p>
      <p id="guesses"></p>
      <p id="message"></p>
      <div class="center" style="display: flex; flex-direction: column">
        <input type="text" id="guessInput" placeholder="Guess here" />
        <button id="guessButton" onclick="guess()">Guess!</button>
      </div>

      <form action="/" method="get" id="form">
        <input type="submit" id="randleButton" value="Play Hardle instead!" />
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/randle.js') }}"
    ></script>
    <script>
      function showAlert() {
        alert(
          `1. Every day, a new four-letter word is chosen for you to guess.\n2. You have eight chances to guess the word correctly before you lose the game.\n3. After each guess, you'll receive a score that indicates how many letters in your guess are also in the daily word.\n4. If the daily word contains a double letter, like "ball", and you guess a word that contains the same double letter, like "bell", then the double letter will be counted as two separate matches.\n5. Your previous guesses and scores will be displayed so you can keep track of your progress.`
        );
      }
    </script>
  </body>
</html>
